<!DOCTYPE html>
<html>
  <h2 style="text-decoration: underline;">Pirate:<br>
    <h3>Name: <%= @pirate.name %></h4>
    <h4>Weight: <%= @pirate.weight %> lbs.</h4>
    <h4>Height: <%= @pirate.height %> in.</h4>
  </h2>


  <h2 style="text-decoration: underline;">Ships:<br>
    <% @ships.each do |ship| %>
      <h3>Name: <%= ship.name %></h3>
      <h4>Type: <%= ship.type %></h4>
      <h4>Booty: <%= ship.booty %></h4>
    <% end %>
  </h2>
</html>