<p>Name: <%= @pirate.name %> </p>
<p>Weight: <%= @pirate.weight %> </p>
<p>Height: <%= @pirate.height %> </p>
<p>Type: <%= @pirate.type %> </p>
<br>
<% @ships.each do |ship| %>
<p>Ship Name: <%= ship.name %> </p>
<p>Type: <%= ship.type %> </p>
<p>Booty: <%= ship.booty %> </p>
<br>
<% end %>
