<h1>PIRATE</h1>
<% Pirate.attribute_symbols.each{ |sym| %>
  <p><%= format_label(sym) %>: <%= @pirate.send(sym) %></p>
<% } %>

<% @pirate.ships.each_with_index{ |ship, i| %>
  <h2>SHIP <%= i + 1 %></h2>
  <% Ship.attribute_symbols.each{ |sym| %>
    <p><%= format_label(sym) %>: <%= @pirate.ships[i].send(sym) %></p>
  <% } %>
<% } %>
