<h1>Display your Pirate here</h1>

   <p>Pirate Name:<%=@pirate_name%></p>
   <p>Pirate Weight:<%=@pirate_weight%></p>
   <p>Pirate Height:<%=@pirate_height%></p>

<h2>Display your first ship here</h2>
  <p>Ship 1 Name:<%= @all_ships[0].name %></p>
  <p>Ship 1 Type:<%= @all_ships[0].type %></p>
  <p>Ship 1 Booty:<%= @all_ships[0].booty %></p>


<h2>Display your second ship here</h2>
  <p>Ship 2 Name:<%= @all_ships[1].name %></p>
  <p>Ship 2 Type:<%= @all_ships[1].type %></p>
  <p>Ship 2 Booty:<%= @all_ships[1].booty %></p>
