<div class='pirate'>
  <h2> <%= @pirate.name %> </h2>
  <h4> <%= @pirate.weight %> pounds</h4>
  <h4> <%= @pirate.height %> inches</h4>
</div>

<div class='ships'>
  <% @ships.each do |ship| %>
    <h2> <%= ship.name %> </h2>
    <h4> <%= ship.type %> </h4>
    <h4> <%= ship.booty %> </h4>
  <% end %>
</div>
