<h1>Display your Pirate here</h1>
  <p>Pirate Name:</p>
  <p><%= @pirate.name%></p>
  <p>Pirate Weight:</p>
  <p><%= @pirate.weight%></p>
  <p>Pirate Height:</p>
  <p><%= @pirate.height%></p>

  <h2>Display your first ship here</h2>
  <p>Ship Name:</p>
  <p><%= @ships[0].name%></p>
  <p>Ship Type:</p>
  <p><%= @ships[0].type%></p>
  <p>Ship Booty:</p>
  <p><%= @ships[0].booty%></p>

  <h2>Display your second ship here</h2>
  <p>Ship Name:</p>
  <p><%= @ships[1].name%></p>
  <p>Ship Type:</p>
  <p><%= @ships[1].type%></p>
  <p>Ship Booty:</p>
  <p><%= @ships[1].booty%></p>
