<h1>Display your Pirate here</h1>
name <%= @pirate.name %><br/>
weight <%= @pirate.weight %><br/>
height <%= @pirate.height %><br/>

  <h2>Ships</h2>

  <% if @ships != nil %>
  <% @ships.each do |ship| %>
    <p>name: <%= ship.name %></p>
    <p>type: <%= ship.type %></p>
    <p>booty: <%= ship.booty %></p>
    <% end %>
  <% end %>
  </form>


</body>
</html>


